# Ignorar arquivos e pastas do Python/Django
*.pyc
__pycache__/
db.sqlite3

# Ignorar arquivos do ambiente virtual
venv/
.env

# Ignorar arquivos do Node.js/React
node_modules/
build/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
