# Python / Django
*.pyc
__pycache__/
db.sqlite3
*.log
*.pot

# Migrações cache
**/migrations/__pycache__/
**/migrations/*.py[cod]

# Ambiente virtual
venv/

# Configurações locais
.env

# Editor temporários
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

